PORT=4000
FRONTEND_APP_URL=http://localhost:5173
PAYSTACK_SECRET_KEY=sk_test_6a817b7ae0cb9db0e2d5907cb9626f7659f7454c
PAYSTACK_CURRENCY=KES
RESEND_API_KEY=re_xxx
RESEND_FROM_EMAIL=orders@example.com
ORDER_NOTIFICATION_EMAIL=lumitimartha4@gmail.com
